p {
    max-width: 300px;

}

#source {
    font-style:italic;
}
nav {
    margin-top: 20px;
}

nav a {
    color: grey;
    text-decoration:none;
    padding:10px;
    border-style:solid;
    text-transform: uppercase;
    font-style:oblique;
    
}

a:hover{
    background-color: grey;
    color:white;
}
html{
    margin-left: 30px;
}

footer{
    background-color: grey;
}